on init
    chown system system /sys/class/meizu/tp/gesture_control
    chmod 0660 /sys/class/meizu/tp/gesture_control

    mkdir /dev/vendor.mokee.touch@1.0
    chown system system /dev/vendor.mokee.touch@1.0
    chmod 0755 /dev/vendor.mokee.touch@1.0

service vendor.touch-hal-1-0-meizu_sdm710 /vendor/bin/hw/vendor.mokee.touch@1.0-service.meizu_sdm710
    class hal
    user system
    group system
